doctype html
html(lang=languageTag)
    head
        meta(charset='UTF-8')
        title {{{ > head > title}}}
        meta(name='viewport', content='width=device-width, initial-scale=1')

        include {{{stylesInclude}}}
    body
        include {{{bodyInclude}}}
        include {{{scriptsInclude}}}